<header>
        <div class="logo-container">
            <a href=""><img src="./img/logo.png" alt="Temperature Now"></a>
        </div>
        <ul class="nav-container">
            <li><a href="javascript:setfloats('Delhi')" class="nav-link">Delhi</a></li>
            <li><a href="javascript:setfloats('Lucknow')" class="nav-link">Lucknow</a></li>
            <li><a href="javascript:setfloats('Kanpur')" class="nav-link">Kanpur</a></li>
            <li><a href="javascript:setfloats('Pune')" class="nav-link">Pune</a></li>
            <li><a href="javascript:setfloats('Mumbai')" class="nav-link">Mumbai</a></li>
        </ul>
    </header>